body {background-image: url("../images/bg.jpg"); 
background-size: cover; 
background-repeat: no-repeat;
font-family: 'Francois One', sans-serif;
}

h1{
	color: black;
	font-size: 50px;
	font-weight: normal;
	margin-bottom: 0;
}
h2{
	color: white;
	font-size: 25px;
	margin-top: 0;
}
.bio {
	color: white;
	font-size: 17px;
	text-align: center;
}
.me {
	height: 150px;                                       
	border-radius: 100%;
	border-style: solid;
	border-color: white;
	margin-top: 40px;
}

#container{
	width: 500px;
	margin: 0 auto;
	text-align: center;
}